<footer class="gh-foot">
    <div class="gh-container">
        <div class="gh-foot-menu">
            {{#if @site.secondary_navigation}}
			{{navigation type="secondary"}}
			{{/if}}
        </div>
        <div class="gh-foot-meta">
            Move faster with {{#if @site.title}}{{@site.title}}{{/if}}.
            Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> Okay
        </div>
    </div>
</footer>