{{!< default}}

<div class="container">
    <div class="content">
        <div class="postfeed">
            {{> "card"}} {{!-- partials/card.hbs --}}
            {{> "author"}}
        <div>
    </div>
</div>


<div id="rdm-post" style="display: none;">
    {{#get "posts" limit="15" from="1" to="15"}}
        {{#foreach posts}}
        <ul>
            <li><a href="{{url}}">{{title}}</a></li>
        </ul>
        {{/foreach}}
    {{/get}}
</div>