/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";



/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 4vmin;
}

.postfeed {
    padding: 8vmin 0;
}

.content {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.gh-article {
    padding: 8vmin 0;
}

.gh-head-actions a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.card:not(:first-child) {
    margin: 8vmin auto 0;
}

.card-link {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.card-image {
    width: 100%;
    max-width: 270px;
    object-fit: cover;
    border-radius: 12px;
    /* margin-bottom: 4vmin; */
}

.card.article-list .card-image {
    width: 90px;
    height: 90px;
}

.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.card-content {
    display: grid;
    gap: 24px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
    padding: 0 6vmin;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.5;
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.header-dark {
    background: #121926;
    color: #FCFCFD;
}

.header-dark.nav-current {
    color: red;
}

.scroll-gallery-container.dark {
    background: #121926;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

/* Scroll gallery */

.scroll-gallery-container {
    width: 100%;
    grid-column: 1/-1;
    overflow: hidden;
}

  .scroll-gallery-images {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 140vw;
    max-height: 400px;
    padding-bottom: 80px;
    transition: transform 0.15s ease-out;
    will-change: transform;
  }
  .scroll-gallery-images img {
    width: 100%;
    max-height: calc(100vh - 60%);
    object-fit: cover;
    margin: 0 0.85em;
    cursor: pointer;
  }
  .scroll-gallery-images.rounded img {
    border-radius: 1em;
  }
  .scroll-gallery-images.elevate img {
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  }


  .kg-gallery-image{
transform: scale(100%);
}
  /* .fullscreen::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background: #fff;
    cursor: pointer;
} */

.fullscreen > img {
    position: relative;
    z-index: 2;
}

.fullscreen {
    display: block;
    position: fixed;
    top: 0;
    max-width: 100%;
    height: 100vmin;
    padding: 4vmin;
    transition: transform .15s ease-in;
}
